<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="shopping-list">
      <div class="header">
        <h1>{{header || 'Welcome'}}</h1>
        <button class="btn btn-cancel" v-if="editing" @click="isEditing(false)">
          Cancel
        </button>
        <button class="btn btn-primary" v-else @click="isEditing(true)">
          Add new Item
        </button>
      </div>
      <form class="add-item-form" @submit.prevent="addItem" v-if="editing">
        <input
          type="text"
          v-model="newItem"
          placeholder="Add new item"
          @keyup.enter="addItem"
        />
        <button
          type="submit"
          class="btn btn-primary"
          :disabled="!newItem.length"
        >
          Save Item
        </button>
      </form>
      <ul v-if="items.length">
        <li v-for="item in items">{{item}}</li>
      </ul>
      <p v-else>Nice job! You've bought all your items!</p>
    </div>
  </body>
  <script src="https://unpkg.com/vue@3"></script>
  <script>
    Vue.createApp({
      data() {
        return {
          header: "Shopping List App",
          items: ["10 party hats", "2 board games", "20 cups"],
          newItem: "",
          editing: false,
        };
      },
      methods: {
        addItem() {
          this.items.push(this.newItem);
          this.newItem = "";
        },
        isEditing(flag) {
          this.editing = flag;
          this.newItem = "";
        },
      },
    }).mount("#shopping-list");
  </script>
</html>
